In [5]:
#Series
import pandas as pd

s = pd.Series([1, 3, 5, 6, 8])
print(s)

0    1
1    3
2    5
3    6
4    8
dtype: int64

In [6]:

#Create DataFrame
import pandas as pd
data ={
    "Name":["A","B","C","D","E","F","G","H","I","J"],
    "Marks":[85,90,78,92,88,75,95,81,89,72]
}
df = pd.DataFrame(data)
print(df)

  Name  Marks
0    A     85
1    B     90
2    C     78
3    D     92
4    E     88
5    F     75
6    G     95
7    H     81
8    I     89
9    J     72

In [7]:
from IPython.display import display

display(df.head())
display(df.tail())

  Name  Marks
0    A     85
1    B     90
2    C     78
3    D     92
4    E     88

  Name  Marks
5    F     75
6    G     95
7    H     81
8    I     89
9    J     72

In [8]:
#Dimension
df.ndim

2

In [9]:
#Size(rows*column)
df.size

20

In [10]:
#Display Column Names
df.columns

Index(['Name', 'Marks'], dtype='object')

In [11]:

#Access individual column
df["Name"]

0    A
1    B
2    C
3    D
4    E
5    F
6    G
7    H
8    I
9    J
Name: Name, dtype: object

In [12]:
#Add a new column
df["Grade"]= ["First class","Distinction","Second class","First class","Distinction","Second class","First class","Distinction","Second class","First class"]
df

  Name  Marks         Grade
0    A     85   First class
1    B     90   Distinction
2    C     78  Second class
3    D     92   First class
4    E     88   Distinction
5    F     75  Second class
6    G     95   First class
7    H     81   Distinction
8    I     89  Second class
9    J     72   First class

In [13]:
#Update data in DataFrame
#Change marks of student A to 67
df.loc[0,"Marks"]=67
df

  Name  Marks         Grade
0    A     67   First class
1    B     90   Distinction
2    C     78  Second class
3    D     92   First class
4    E     88   Distinction
5    F     75  Second class
6    G     95   First class
7    H     81   Distinction
8    I     89  Second class
9    J     72   First class

In [14]:
#Delete a column
df.drop("Grade", axis=1, inplace=True)
df

  Name  Marks
0    A     67
1    B     90
2    C     78
3    D     92
4    E     88
5    F     75
6    G     95
7    H     81
8    I     89
9    J     72

In [15]:
#Perform basic statistiscal analysis
mean1=df["Marks"].mean()
mean1

np.float64(82.7)

In [16]:
min1=df["Marks"].min()
min1

67

In [17]:

#Apply condition(flitering)
#Display students scoring more than 80

df[df["Marks"] > 80]
df

  Name  Marks
0    A     67
1    B     90
2    C     78
3    D     92
4    E     88
5    F     75
6    G     95
7    H     81
8    I     89
9    J     72