In [1]:
a = "hello world"
print(a)

hello world

In [2]:
#comments
#this is a single line comment
"""this
    is
    a multi line comment"""

'this\n    is\n    a multi line comment'

In [3]:
x,y,z="apple","orange","cherry"
print(x,y,z,sep="\n")

apple
orange
cherry

In [4]:
#display data type
x,y,z,w=2,2.5,"me",True
print(type(x),type(y),type(z),type(w),sep="\n")

<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [5]:
#arithmatic operators
a,b=5,2
print("add=",a+b,"\nsub=",a-b,"\nmul=",a*b,"\ndiv=",a/b,"\nexp=",a**b)

add= 7
sub= 3
mul= 10
div= 2.5
exp= 25

In [7]:
#logical operators
a,b=10,5
print(a>b and b>a)
print(a>b or b>a)
print(not(a>b))

False
True
False

In [13]:
#bitwise operators
a,b=10,5
print(a&b) # Bitwise AND
print(a|b) # Bitwise OR
print(a^b) # Bitwise XOR

0
15
15

In [9]:
a=int(input("enter value of a: "))
b=int(input("enter value of b: "))
print("add=",a+b,"\nsub=",a-b,"\nmul=",a*b,"\ndiv=",a/b,"\nexp=",a**b)

enter value of a: 5
enter value of b: 6
add= 11
sub= -1
mul= 30
div= 0.8333333333333334
exp= 15625

In [10]:
# taking 5 subjects as float to allow decimals
s1 = float(input("subject 1: "))
s2 = float(input("subject 2: "))
s3 = float(input("subject 3: "))
s4 = float(input("subject 4: "))
s5 = float(input("subject 5: "))

total = s1 + s2 + s3 + s4 + s5
average = total / 5

print(f"sum: {total}, average: {average}")

subject 1: 2.255
subject 2: 3.555
subject 3: 6.99
subject 4: 6.7
subject 5: 356.25
sum: 375.75, average: 75.15

In [11]:
marks = [float(input(f"subject {i+1}: ")) for i in range(5)]
print(f"sum: {sum(marks)}, average: {sum(marks)/len(marks)}")

subject 1: 92
subject 2: 67
subject 3: 85
subject 4: 65
subject 5: 69
sum: 378.0, average: 75.6

In [12]:
# area of circle
import math
radius = float(input("enter radius: "))
area = math.pi * pow(radius, 2)
print(f"circle area: {area:.2f}")

enter radius: 20
circle area: 1256.64

In [14]:
# area and perimeter of rectangle
length = float(input("enter length: "))
width = float(input("enter width: "))
area = length * width
perimeter = 2*(length+width)
print(f"rectangle area: {area: .2f}")
print(f"perimeter:{perimeter: .2f}")

enter length: 15
enter width: 20
rectangle area:  300.00
perimeter: 70.00

In [15]:
#simple calculator
num1 = float(input("enter first number: "))
num2 = float(input("enter second number: "))
op = input("enter operator(+,-,*,/): ")
if op == "+":result = num1 + num2
elif op == "-":result = num1-num2
elif op == "*":result = num1*num2
elif op == "/":result = num1/num2 if num2 != 0 else "error"
print(f"{num1} {op} {num2} = {result}")

enter first number: 67
enter second number: 69
enter operator(+,-,*,/): +
67.0 + 69.0 = 136.0