In [1]:
#Python tuples
#Access tuple items
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])
print(thistuple)

banana
('apple', 'banana', 'cherry')

In [2]:

thistuple = ("apple", "banana", "cherry")
thistuple[1] = "strawberry"
print(thistuple)
#'tuple' object does not support item assignment

TypeError: 'tuple' object does not support item assignment

In [3]:
#Add tuple to a tuple
thistuple = ("apple", "banana", "cherry")
y = ("orange",)
thistuple += y
print(thistuple)

('apple', 'banana', 'cherry', 'orange')

In [4]:
##Adding tuple to tuple and in this y is stored as a address and when added it gets added to the address where += y shows that
#Address Verification after appending new items in the tuple
thistuple = ("apple", "banana", "cherry")
print("Before:",id(thistuple))
y = ("orange",)
thistuple += y
print("After:",id(thistuple))

Before: 132274881204928
After: 132274880981376

In [5]:
attendance = ("P","A","P","A","P","P","A")
print(attendance)
print()
present_count = attendance.count("P")
print(f"total number of present days: {present_count}")
print()
absent_count = attendance.count("A")
print(f"total number of absent days: {absent_count}")
print()

if attendance.count("P") >=1:
    print("was absent atleast once")
else:
    print("was not absent atleast once")
print()

('P', 'A', 'P', 'A', 'P', 'P', 'A')

total number of present days: 4

total number of absent days: 3

was absent atleast once

In [6]:
StudentExamSubjecttuple = ("Chemistry","Maths","Physics")
StudentExamResulttuple  = (55,92,98)
StudentExamResultGradetuple = ("A","A","A+")

print("Subject Name:",StudentExamSubjecttuple[0])
print("Marks Obtained:",StudentExamResulttuple[0])
print("Grade:",StudentExamResultGradetuple[0])

print("Subject Name:",StudentExamSubjecttuple[1])
print("Marks Obtained:",StudentExamResulttuple[1])
print("Grade:",StudentExamResultGradetuple[1])

print("Subject Name:",StudentExamSubjecttuple[2])
print("Marks Obtained:",StudentExamResulttuple[2])
print("Grade:",StudentExamResultGradetuple[2])

if StudentExamResulttuple[0]>75:
  print("Distinction")
if StudentExamResulttuple[1]>75:
  print("Distinction")
if StudentExamResulttuple[2]>75:
 print("Distinction")

Subject Name: Chemistry
Marks Obtained: 55
Grade: A
Subject Name: Maths
Marks Obtained: 92
Grade: A
Subject Name: Physics
Marks Obtained: 98
Grade: A+
Distinction
Distinction