In [ ]:
# Creation of Set
thisset = {"cat", "dog", "mouse"}
print(thisset) #it is unordered

In [ ]:
#Duplicates not allowed
thisset = {"cat", "dog", "mouse", "cat"}
print(thisset)

In [ ]:
# the values true and 1 are considerted the same value in sets
thisset = {"cat", "dog", "mouse", True, 1, 2}   #same for 0 and false
print(thisset)

In [ ]:
# A set with strings, integers and boolean values:
set1 = {"rahul", 67, True, 41, "male"}
print(set1)

In [ ]:
# To check membership
set = {"rahul", 67, True, 41, "male"}
print("rahul" in set)
print(61 in set)

In [ ]:
# You cannot replace the items in a set once its created
# But you can add new items
set = {"rahul", 67, True, 41, "male"}
set.add("mango")
set.remove("rahul")
print(set)

In [ ]:
#Set Operations
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
print(A | B)#Union
print(A & B)#Intersection
print(A - B)#Difference
print(A ^ B)#Symmetric Difference

In [ ]:
participants = ["Alice", "Bob", "Charlie", "Alice", "David", "Bob", "dhvan", "arjit", "john"]

unique_participants = set(participants)
print("Unique Participants:", unique_participants)

In [ ]:
student1 = {"chemistry", "physics", "biology", "maths", "history"}
student2 = {"fine_arts", "physics", "maths", "geology", "english"}
student3 = {"chemistry", "fine_arts", "physics", "maths", "english", "history"}
print("common subjects:", student1 & student2 & student3)

In [ ]:
cricket = {"amey", "raj", "raju", "aman", "jai", "dhvan","virat" }
football ={"aditya", "virat", "rohit", "dhvan", "kapil"}
#Intersection
print("Students in both clubs:", cricket & football)
#Symmetric Difference
print("Students in only one club:", cricket ^ football)

In [ ]:
all_students = {"A", "B", "C", "D", "E"}
present_students = {"A", "C", "E"}

absent_students = all_students - present_students

print("All students:", all_students)
print("Present students:", present_students)
print("Absent students:", absent_students)

In [ ]:
valid_courses = {"CS101", "MA201", "PH301", "BI401", "CH501"}
discontinued_course = "PH301"

print("Original valid courses:", valid_courses)

valid_courses.remove(discontinued_course)

print("Valid courses after removing", discontinued_course + ":", valid_courses)

valid_courses.discard("AR101")
print("Valid courses after trying to discard non-existent AR101:", valid_courses)

valid_courses.discard("CS101")
print("Valid courses after discarding CS101:", valid_courses)

**DICTIONARY**

In [ ]:
#Creation of Dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict)

In [ ]:
#Retriving values from Dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict["brand"])

In [ ]:
#Retriving values from Dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
print(thisdict["brand"])

In [ ]:
# Changing/Adding key: value in dictionary
thisdict = {
    "brand": "Ford",
    "model": "Mustang",
    "year": 1964
}
thisdict["colour"] = "red"
x = thisdict.values()
print(x)

In [ ]:
# Retrival of values
student ={
    "roll" : '25',
    "name" :"ASHMAN",
    "branch" : "ENTC"
}
print("name:", student["name"])
print("branch:", student["branch"])

In [ ]:
#Adding and updating Elements
student["year"] = "First"
print(student)
student["name"] = "skibidi"
print(student)

In [ ]:
# Removing Elements
student.pop("year")
print("After removal:", student)

In [ ]:
thisdict = {
    "apple": 1.50,
    "banana": 0.75,
    "orange": 1.20
}
print("Original dictionary:", thisdict)

# Update the price of a product
product_to_update = "apple"
new_price = 1.75
thisdict[product_to_update] = new_price

print("Updated dictionary:", thisdict)

In [ ]:
student_marks = {
    "A": 85,
    "B": 92,
    "C": 78,
    "D": 95,
    "E": 88
}

search_name = input("Enter the student's name to search for marks: ")

if search_name in student_marks:
    print(f"{search_name}'s marks: {student_marks[search_name]}")
else:
    print(f"Student '{search_name}' not found in the record.")

In [ ]:
student_marks = {
    "A": 85,
    "B": 92,
    "C": 78,
    "D": 95,
    "E": 88
}

search_name = input("Enter the student's name to search for marks: ")
print(student_marks.get(search_name, "Student not found"))

In [ ]:
usernames_passwords = {
    "user1": "password1",
    "user2": "password2",
    "user3": "password3"
}

username_input = input("Enter your username: ")
password_input = input("Enter your password: ")

stored_password = usernames_passwords.get(username_input)

if stored_password == password_input:
    print("Login successful!")
else:
    print("Invalid username or password.")

In [ ]:

marks = {"A": 85, "B": 92, "C": 78, "D": 95, "E": 88}
topper = max(marks, key=marks.get)
print("Topper:", topper)
print("Marks:", marks[topper])